// custom variables
$primary: #c29938;
$light: #fbf5e5;

// import the functions & variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
    "altlight": #f2ebfa,
    "altdark": #522192
);

// merging existing color map with just created custom theme colors map
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge(
  $theme-colors-rgb,
  (
    "black": to-rgb($black),
    "white": to-rgb($white),
    "body":  to-rgb($body-color)
  )
);

$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

// import default bootstrap sheet
@import '../node_modules/bootstrap/scss/bootstrap';


// import variables are at the top, to make sure they will override !default ones drom @import bootstrap. Another thing is that @functions and @variables also uses their values, so it is imporatant to import this two files AFTER override declaration.
// due to import @bootstrap at the very end, $theme-colors map is also replaced with merged one